html, body {
  height: 100%;
}
.jumbotron {
  background-color: #282F44;
  color: #ECECEC;
  text-align: center;
}
#about {
  background-color:#E6AF2E;
  height: 100%;
  overflow-y:auto;
  min-height: 1000px;
}
#rules {
  background-color:#ECECEC;
    min-height: 1000px;
}
#return {
  background-color: #F5D061;
  min-height: 1000px;
}

h3, h2 {
  margin-top: 20px;
  margin-bottom: 35px;
  text-align: center;
}
ol {
  margin-top: 20px;
  margin-bottom: 30px;
}
ul{
  font-size: 20px;
}
.btn-warning {
  display: block;
  margin: auto;
  width: 100px;
}
.differentGame {
  margin-top: 50px;
  padding: 30px;
  background-color: #282F44;
  color: white;
}
.special-button {
  display: inline-block;
  width: 200px;
}
.thirdOutput {
  max-width: 400px;
}
.col-sm-9 {
padding-left: 15%;
}
.thirdGame {
  margin-top: 20px;
  padding: 30px;
}
